body{
	background-color: #303641;
}

div.sign_up{
	border: solid 2px rgb(7, 0, 0);
	border-radius: 30px;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titre{
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 1px 1px 1px black;
}


header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	margin-right: 100px;
	margin-left: 100px;
	font-family: 'Source Sans Pro', sans-serif;
}




div.contain1{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: center;
	margin-left: 100px;
	margin-top: 100px;
	font-family: 'Source Sans Pro', sans-serif;
}

	
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');






a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

li{
	list-style-type: none;
}






.titre{
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 1px 1px 1px black;
}

div.sign_up{
	border: solid 2px rgb(7, 0, 0);
	border-radius: 30px;
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titres{
	font-family: 'Source Sans Pro', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-shadow: 2px 2px 2px rgb(255, 255, 255);
}




